.container-restaurente {
    @apply flex h-screen flex-col items-start bg-gradient-to-t from-[#081918] to-[#052C2C];

    .h1 {
        @apply font-bold text-[70px] text-[#FFB133] mt-5 px-[20px];
    }

    .container-pesquisa {
        @apply flex items-center justify-between w-full pr-10;

        .h2 {
            @apply font-bold text-[50px] text-[#FFFFFF] px-[20px];
        }

        .input {
            @apply relative;

            .barra-pesquisa {
                @apply rounded-lg px-10 py-2;
            }

            .pesquisa {
                @apply absolute inset-y-0 left-3 pr-3 flex items-center pointer-events-none;

                .icone-pesquisa {
                    @apply text-gray-400;
                }
            }
        }
    }

    .cabecalho {
        @apply flex justify-center bg-white text-[#052C2C] w-[1850px] h-[50px] rounded-lg ml-5 mr-5 mb-5 items-center font-bold;

        .item-cabecalho {
            @apply flex justify-center w-full;
        }
    }
}

.container-componente {
    @apply flex justify-center bg-white text-[#052C2C] w-[1850px] rounded-lg m-[20px] items-center;

    .item-cabecalho2 {
        @apply flex justify-center w-full;
    }

    .ativado {
        @apply text-green-500 cursor-pointer;
    }

    .desativado {
        @apply text-gray-500 cursor-pointer;
    }
}