$gradient-color-1: #091A18;
$gradient-color-2: rgba(9, 26, 24, 0.00);
.fundo{ 
  @apply bg-gradient-to-t from-[#081918] to-[#052C2C];
}

  .fundo-inicial{
    @apply  flex flex-col items-center justify-center text-center py-20 px-4;

    &__frase-impacto{
      @apply text-4xl font-bold mb-4 text-[#FFB133] text-[120px] mt-10;
    }

    &__sub-texto{
      @apply text-[#B4B4B4] text-lg mt-10 my-10;
    }

    &__como-funciona {
        @apply flex gap-6 items-center justify-center py-20 px-4 mt-10;
      
        h1 {
          @apply  text-[#FFB133] text-[80px] mt-5;
        }
      
        &__imagem {
          @apply  gap-0;
        }
      
      }
    
      &__aplicativos{
        @apply flex gap-11 mt-10;
      }
  }

  .parceiros{
    @apply text-center;

    &__frase{
      @apply text-[100px] text-[#fff];
    }

    &__imagens-parceiros{
      @apply flex justify-center gap-5 rounded-full overflow-hidden;
    }
  }


  .restaurantes {
    @apply -scroll-ml-96 font-bold text-left px-4 mr-10;
  }
  
  .fundo-2 {
    @apply ml-10 flex justify-between items-center mr-10;
  }
  
  .frase-3 {
    @apply font-bold mb-28 mt-64 text-[#fff] text-[80px];
  }
  
  .tabela-olho {
    @apply text-[24px] text-[#B4B4B4] bg-[#081918] mt-40;
  }
  
  .fundo-4 {
    @apply font-bold mb-28 mt-64 text-[#FFB133] text-center py-20 px-4;
  }
  
  .tabela-olho-container {
    @apply flex justify-center;
  }
  

  .carrocel{
    @apply flex gap-8 items-center justify-center ;
  }




.container-bg {
  @apply bg-background;

  &__campo-clpl{
    @apply flex items-center justify-between;
  }

  &__cleular{
    @apply ml-10;
  }

  &__teste{
    @apply flex-col;
  }

  &__logo{
    @apply ml-48;
  }

  &__aplicativos{
    @apply   text-center text-[#081918] text-[44px] mr-72  mt-10;
  }

  &__mobile{
    @apply  flex gap-32  py-16 mr-72;
  }

}