.fundo{ 
  @apply   bg-[#081918]
}

  .fundo-inicial{
    @apply  flex flex-col items-center justify-center text-center py-20 px-4;

    &__frase-impacto{
      @apply text-4xl font-bold mb-4 text-[#FFB133] text-[120px];
    }

    &__sub-texto{
      @apply text-[#B4B4B4] text-lg mt-10 my-10;
    }

    &__como-funciona {
        @apply flex gap-6 text-center flex flex-col items-center justify-center text-center py-20 px-4;
      
        h1 {
          @apply  text-[#FFB133] text-[80px];
        }
      
        &__imagem {
          @apply py-4;
        }
      
      }
    
  }


.aplicativos{
  @apply flex gap-32 my-12 justify-between
}

.frase-2 {
  @apply font-bold text-[#FFB133] text-4xl mt-52 flex justify-between align-middle items-center gap-5;
  font-size: 100px;
}

.fundo-2 {
  @apply -scroll-ml-96 font-bold text-[#FFB133] text-left  px-4 flex justify-between items-center;
}

.frase-3 {
  @apply font-bold mb-28 mt-64 text-[#FFB133];
  font-size: 80px;
}

.fundo-4 {
  @apply font-bold mb-28 mt-64 text-[#FFB133] text-center  py-20 px-4;
  font-size: 80px;
}

.como-funciona {
  @apply flex gap-6;

  h1 {
    @apply text-center text-[#FFB133] text-[80px];
  }

  .imagem {
    @apply py-4;
  }

}

.container-bg {
  @apply bg-background;

  &__campo-clpl{
    @apply flex items-center justify-between;
  }

  &__cleular{
    @apply ml-10;
  }

  &__teste{
    @apply flex-col;
  }

  &__logo{
    @apply ml-48;
  }

  &__aplicativos{
    @apply   text-center text-[#081918] text-[44px] mr-72  mt-10;
  }

  &__mobile{
    @apply  flex gap-32  py-16 mr-72;
  }

}