.container-restaurente {
    @apply flex h-full flex-col bg-gradient-to-t from-[#081918] to-[#052C2C] sm:ml-64;

    .h1 {
        @apply font-bold text-[70px] text-[#FFFFFF] mt-5 ml-[30px];
    }

    .container-forms {
        @apply text-[#052C2C] bg-white ml-[30px] mr-[20px] rounded-lg;

        .bloco-2-3 {
            @apply grid grid-cols-2 gap-3 text-[30px] mb-2 ml-[30px];
        }

        .bloco-1 {
            @apply text-[30px] mb-2 ml-[30px];
        }

        .bloco-1-3 {
            @apply grid grid-cols-1 gap-3 text-[30px] mb-2 ml-[30px];
        }

        .divisor {
            @apply my-4 border-t-2 border-[#081918];
        }

        .container-botao {
            @apply flex justify-center mb-10;
        }

        .botao {
            @apply mt-5 text-[30px] bg-[#FFB133] hover:bg-[#FFB000] text-white px-16 rounded transition duration-300 ease-in-out transform hover:scale-105;
        }
    }
}

.container-erro {
    @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50;

    .erro {
        @apply bg-white p-6 rounded-lg shadow-lg text-center;

        .erro2 {
            @apply text-red-500 justify-center;
        }

        .erro-botao {
            @apply mt-4 px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600;
        }
    }
}
