.container-restaurente {
    @apply flex h-full flex-col bg-gradient-to-t from-[#081918] to-[#052C2C];

    .h1 {
        @apply font-bold text-[3vw] text-[#FFFFFF] mt-[1vw] ml-[2vw];
    }

    .container-forms {
        @apply text-[#052C2C] bg-white ml-[2vw] mr-[2vw] rounded-lg;

        .bloco-2-1 {
            @apply grid grid-cols-2 gap-3 text-[1.5vw] ml-[2vw];
        }

        .bloco-1 {
            @apply grid grid-cols-1 text-[1.5vw] mb-[2vw] ml-[2vw];
        }
        
        .bloco-1-3 {
            @apply grid grid-cols-1 text-[1.5vw] mb-[5vw] ml-[2vw];
        }

        .divisor {
            @apply my-4 border-t-2 border-[#081918];
        }

        .container-botao {
            @apply flex justify-center mb-[2vw];
        }

        .botao {
            @apply mb-[1vw] mt-[1vw] text-[1.5vw] bg-[#FFB133] hover:bg-[#FFB000] text-white px-16 rounded transition duration-300 ease-in-out transform hover:scale-105;
        }
    }
}

.container-erro {
    @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50;

    .erro {
        @apply bg-white p-6 rounded-lg shadow-lg text-center;

        .erro2 {
            @apply text-red-500 justify-center;
        }

        .erro-botao {
            @apply mt-4 px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600;
        }
    }
}
